<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        @if (ViewBag.Error != null)
        {
            <h1>@ViewBag.Error</h1>
        }

        <h1>Error.</h1>
        <h2>Something went wrong! Please try again letter.</h2>
    </hgroup>
</body>
</html>
